<form class="form-wrapper " method="" action="" id="registerForm">
            <div class="tab-content">

                <div v-if="errors.length" v-cloak>
                <strong class="text-center">Please correct the following error(s):</strong>
                <ul class="list-group">
                  <li v-for="error in errors" class="li-padding list-group-item list-group-item-danger">
                    <i class="glyphicon glyphicon-remove"></i> <small>{{ error }}</small>
                  </li>
                </ul>
              </div>
              <div v-if="apiErrors.length" v-cloak>
                <strong class="text-center">Please correct the following error(s):</strong>
                <ul class="list-group">
                  <li v-for="(item, index) in apiErrors" class="li-padding list-group-item list-group-item-danger">
                    <i class="glyphicon glyphicon-remove"></i> <small>{{ item }}</small>
                  </li>
                </ul>
              </div>
              <div v-if="message" v-cloak>
                <ul class="list-group">
                  <li class="li-padding list-group-item list-group-item-success">
                    <i class="glyphicon glyphicon-check"></i> <small>{{ message }}</small>
                  </li>
                </ul>
              </div>
              <div v-if="apiErrors.length" v-cloak>
                <strong class="text-center">Please correct the following error(s):</strong>
                <ul class="list-group">
                  <li v-for="(item, index) in apiErrors" class="li-padding list-group-item list-group-item-danger">
                    <i class="glyphicon glyphicon-remove"></i> <small>{{ item }}</small>
                  </li>
                </ul>
              </div>
              <!-- <div class="form-group text-center" v-if="loading" v-cloak>
                  <div id="loader">
                      <i class="fas fa-cog fa-spin"></i>
                  </div>
              </div> -->
              <div role="tabpanel" class="tab-pane fade active in" id="tab1">
                    <div class="form-group">
                        <label class="label-form" >Mobile # <span class="red">*</span></label>
                        <input type="tel" name="phone_number" id="phone_number" v-on:blur="lookupCustomerData" v-model="cPhone" class="phone input-form">
                    </div>
                    <div class="form-group">
                        <label class="label-form" >code<span class="red">*</span></label>
                        <input type="text" name="code" id="code" v-model="code" class="code input-form">
                    </div>

                    <div class="form-group">
                        <label class="label-form">Name <span class="red">*</span></label>
                        <input type="text" name="name" id="name" class="input-form" v-model="cName" value="">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Email</label>
                        <input type="email" name="email" id="email" class="input-form" v-model="cEmail" value="">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Address</label>
                        <textarea name="address" rows="2" class="input-form" cols="4" v-model="cAddress"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="label-form">Country</label>
                        <select v-model="selectedCoutry" class="input-form">
                            <option disabled selected value>Select Country</option>
                            <option v-for="(item, index) in countries" :value="item">{{ index }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label-form">State</label>
                        <select v-model="selectedState" class="input-form">
                            <option disabled selected value>Select State</option>
                            <option v-for="(item, index) in states" :value="item">{{ index }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label-form">City</label>
                        <input type="text" name="city" id="city" class="input-form" v-model="cCity" value="">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Zip</label>
                        <input type="text" name="zip" id="zip" class="input-form" v-model="cZip" value="">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Total Dress <span class="red">*</span></label>
                        <input type="number" name="total_dress" id="total_dress" class="input-form" v-model="cTotalDress" value="">
                    </div>

                      <div class="form-group">
                          <label class="label-form">Return Date</label>
                              <input type="date" name="return_date" v-model="cReturnDate" value="" id="returnDate" class="input-form">
                      </div>
                      <!-- <div class="form-group">
                          <label class="label-form">Return Date</label>
                          <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                              <input type="date" name="return_date" v-model="cReturnDate" class="input-form">
                          </div>
                      </div> -->
                    <div class="form-group">
                        <label class="label-form">Total Bill <span class="red">*</span></label>
                        <input type="number" name="total_bill" id="total_bill"  class="input-form" value="" v-model="cTotalBill">
                    </div>

              </div>
                <div role="tabpanel" class="tab-pane fade urdu" id="tab2">
                    <div class="form-group">
                        <label class="label-form">Tallness /لمبائی <span class="red">*</span></label>
                        <input type="text" name="tallness" id="tallness"  class="input-form" value="" v-model="cTallNess">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Arm /بازو <span class="red">*</span></label>
                        <input type="text" name="arm" id="arm" class="input-form" value="" v-model="cArm">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Shoulder/تیرہ <span class="red">*</span></label>
                        <input type="text" name="shoulder" id="shoulder"  class="input-form" value="" v-model="cShoulder">
                    </div>
                    <div class="form-group">
                        <label class="label-form"> Collar/کالر  Type <span class="red">*</span></label><br>
                        <input type="radio" id="typeCollar" name="collarType" value="1" v-model="collarType" checked="checked">
                        <label  for="typeCollar" class="label-form">Collar/کالر</label>
                        <input type="radio" id="typeBain" name="collarType" value="2" v-model="collarType">
                        <label for="typeBain" class="label-form">Bain/بین</label>
                    </div>
                    <div class="form-group">
                        <label class="label-form">Collar Length/کالرلمبائی <span class="red">*</span></label>
                        <input type="text" name="collar" id="collar" tabindex="1" class="form-control" value="" v-model="cCollar">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Chest/چھاتی <span class="red">*</span></label>
                        <input type="text" name="chest" id="chest" tabindex="1" class="form-control" value="" v-model="cChest">
                    </div>
                    <div class="form-group">
                        <label class="label-form"> Hipp/دامن Type <span class="red">*</span></label><br>
                        <input type="radio" id="typeStraight" name="hippType" value="1" v-model="hippType"  checked="checked">
                        <label for="typeStraight" class="label-form">Straight/سیدھا</label>
                        <input type="radio" id="typeRound" name="hippType" v-model="hippType" value="2">
                        <label for="typeRound" class="label-form">Rounde/گول</label>
                    </div>
                    <div class="form-group">
                        <label class="label-form">Hipp/لمبائی دامن <span class="red">*</span></label>
                        <input type="text" name="hipp" id="hipp" tabindex="1" class="form-control" value="" v-model="cHipp">
                    </div>
                    <div class="form-group">
                        <label class="label-form"> Pant/شلوار <span class="red">*</span></label>
                        <input type="text" name="pant" id="pant" tabindex="1" class="form-control" value="" v-model="cPant">
                    </div>
                    <div class="form-group">
                        <label class="label-form"> Ankle /پانچہ <span class="red">*</span></label>
                        <input type="text" name="pancha" id="pancha" tabindex="1" class="form-control" value="" v-model="cPancha">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Book Design #</label>
                        <input type="number" name="design_no" id="design_no" tabindex="1" class="form-control" value="" v-model="cDesignNo">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Special Measurements</label>
                        <textarea name="special_measurements" rows="2" class="form-control" cols="4" v-model="cSpecialMeasurements"></textarea>
                    </div>

              </div>


            </div>
              <div class="form-group no-margin m-bottom-s">
                  <button type="button" @click="addCustomer" class="btn btn-custom m-top-m btn-register">Save</button>
              </div>
              </form>