<form class="form-wrapper " method="" action="" id="settings">
                <div v-if="errors.length" v-cloak>
                    <strong class="text-center">Please correct the following error(s):</strong>
                    <ul class="list-group">
                        <li v-for="error in errors" class="li-padding list-group-item list-group-item-danger">
                            <i class="glyphicon glyphicon-remove"></i> <small>{{ error }}</small>
                        </li>
                    </ul>
                </div>
                <div v-if="message" v-cloak>
                    <ul class="list-group">
                        <li class="li-padding list-group-item list-group-item-success">
                            <i class="glyphicon glyphicon-check"></i> <small>{{ message }}</small>
                        </li>
                    </ul>
                </div>
                <div v-if="apiErrors.length" v-cloak>
                    <strong class="text-center">Please correct the following error(s):</strong>
                    <ul class="list-group">
                        <li v-for="(item, index) in apiErrors" class="li-padding list-group-item list-group-item-danger">
                            <i class="glyphicon glyphicon-remove"></i> <small>{{ item }}</small>
                        </li>
                    </ul>
                </div>
                <!-- <div class="form-group text-center" v-if="loading" v-cloak>
                    <div id="loader">
                        <i class="fas fa-cog fa-spin"></i>
                    </div>
                </div> -->
              <div class="form-group">
                <label class="label-form">Shop Name</label>
                <input type="text" class="input-form"  name="shopname" v-model="shopName" value=""/>
              </div>
              <div class="form-group">
                <label class="label-form">User Name</label>
                <input type="text" class="input-form"  name="userName" v-model="userName" value=""/>
              </div>
              <div class="form-group">
                <label class="label-form">Email</label>
                <input type="text" class="input-form " name="email" v-model="email" value=""/>
              </div>
              <div class="form-group">
                  <label class="label-form">Address</label>
                  <textarea name="address" rows="2" class="input-form" cols="4" v-model="address"></textarea>
              </div>
              <div class="form-group">
                  <label class="label-form">Country</label>
                  <select v-model="selectedCoutry" class="input-form">
                      <option disabled selected value>Select Country</option>
                      <option v-for="(item, index) in countries" :value="item">{{ index }}</option>
                  </select>
              </div>
              <div class="form-group">
                  <label class="label-form">State</label>
                  <select v-model="selectedState" class="input-form">
                      <option disabled selected value>Select State</option>
                      <option v-for="(item, index) in states" :value="item">{{ index }}</option>
                  </select>
              </div>
              <div class="form-group">
                  <label class="label-form">City</label>
                  <input type="text" name="city" id="city" class="input-form" v-model="cCity" value="">
              </div>
              <div class="form-group">
                  <label class="label-form">Zip</label>
                  <input type="text" name="zip" id="zip" class="input-form" v-model="cZip" value="">
              </div>
              <div class="form-group">
                <label class="label-form">Password</label>
                <input type="password" class="input-form " autocomplete="off" name="password" v-model="password"/>
                <span> Leave empty this field if you don't want to change password.</span>
              </div>

              <div class="form-group input-boder-helper">
                <label class="label-form">Gender</label>
                <div class="pull-right">
                  <input type="radio" class="" id="male" name="gender" v-model="gender" value="1" checked="checked"/>
                  <label class="label-form" for="male">Male</label>
                  <input type="radio" class="" id="female" name="gender" v-model="gender" value="2"/>
                  <label class="label-form" for="female">Female</label>
                </div>
              </div>

              <div class="form-group no-margin m-bottom-s">
                  <button type="button" @click="updateTailor" class="btn btn-custom m-top-m btn-register">Update</button>
              </div>
            </form>